/* Choi Game Co Thuong */
body{
    color: #fff;
    overflow-x: hidden;
    /* fallback */ background-color: #243951; background-image: url(images/radial_bg.png); 
    background-position: center center; 
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */ 
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#4b6a71), to(#243951)); 
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #4b6a71, #243951); 
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #4b6a71, #243951); 
    /* IE 10 */ 
    background: -ms-radial-gradient(circle, #4b6a71, #243951); 
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */ 
}
.loading-progress {
    background: transparent url("../img/waiting-loading.gif") no-repeat scroll center center;
    display: block;
    height: 60px;
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
}
.main_wrapper{

}
a{
    color: #fff;
}
a:hover,
a:focus{
    outline:  none;
}
img{
    max-width: 100%;
}
.main_wrapper .sidebar {
    padding-right: 5px;
}
.main_wrapper .content{
    padding-left: 5px;
}

/* Sidebar */
.sidebar-top {
    max-width: 80%;
    margin: 30px auto 20px;
}
.sidebar-top a.logo{

}
.sidebar-top a.logo img {
    width: 200px;
}
.sidebar-center {
    margin-bottom: 10px;
}
.sidebar-bottom{

}
.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.sidebar-warraper{
    padding-left: 10px;
}
.content-wrapper{
}
/*.sidebar{
    width: 30%;
}
.main_wrapper .content {
    width: 70%;
}*/
.main_wrapper .content img {
    max-height: 100%;
    width: 100%;
}
/* tab */
.tab-wrapper{}
.tab-wrapper .nav-tabs {
    border: medium none;
    margin: 0 auto;
    text-align: center;
}
.tab-wrapper .nav-tabs li {
    border: medium none;
    display: inline-block;
    float: none;
}
.tab-wrapper .nav-tabs li a {
    padding-left: 8px;
    padding-right: 8px;
    border: medium none;
}
.tab-wrapper .nav-tabs li a span{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
.tab-wrapper .nav > li > a:hover, .tab-wrapper .nav > li > a:focus,
.tab-wrapper .nav-tabs li.active:focus{
    background: none;
    color: #fff;
}
.tab-wrapper .nav-tabs li.active a {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}
.tab-wrapper .nav-tabs li a:hover{
    background: transparent;
    color: #fff;
    border: none;
}
.tab-wrapper .nav-tabs li.active a span{
    border-bottom: 2px solid #7e1418;
}
.tab-wrapper .tab-content{
    margin-top: 10px;
}
/* game-slick-slide */
.game-slick-slide{
    position: relative;
}
.slick-slide-wrapper {
    padding-right: 30px;
}
.game-slick-slide .slick-dots-ctr {
    /*height: 86%;*/
}
.game-slick-slide .slick-dots-ctr ul{
    padding: 0;
    list-style: none;
    margin: 2px 0;
}
.game-slick-slide .slick-list {
    overflow: hidden;
    padding: 0 !important;
}
.game-slick-slide .slick-ctr {
    display: table-cell;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.game-slick-slide .slick-ctr div{

}
.game-slick-slide .slick-ctr .next,
.game-slick-slide .slick-ctr .prev{
    border: none;
    background: transparent;
    font-size: 1.2em;
    display: none;
}
.game-slick-slide .slick-slide{
    padding: 7px 0;
}
.game-slick-slide .slick-slide .slick-slide-item{
    border: 2px solid;
    height: 110px;
    overflow: hidden;
}
.game-slick-slide .slick-slide.slick-current.slick-active .slick-slide-item,
.game-slick-slide .slick-slide.slick-current.slick-center .slick-slide-item{
    /*border-color: #7e1418;*/

}
.game-slick-slide .slick-ctr .next{}
.game-slick-slide .slick-ctr .prev{}
.game-slick-slide .slick-dots-ctr ul li {
    padding: 5px 0;
}
.game-slick-slide .slick-dots-ctr ul li button {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: transparent;
    font-size: 9px;
    height: 12px;
    width: 5px;
}
.game-slick-slide .slick-dots-ctr ul li.slick-active button{
    background: #7e1418;
}
.slick-slide-item-left,
.slick-slide-item-right{
    height: 106px;
}
.slick-slide-item-left {
    float: left;

    width: 65%;
}
.slick-slide-item-left img{
    width: 100%;
    height: 100%;
}
.slick-slide-item-right {
    background: #f58220 none repeat scroll 0 0;
    box-shadow: -3px 0 9px #000;
    float: left;
    width: 35%;
    padding-top: 10px;
}
.bg-color-yellow{
    background: #f58220 none repeat scroll 0 0;
}
.bg-color-green{
    background: #47b649;
}
.bg-color-red{
    background: #ed1c24 none repeat scroll 0 0;
}
.slick-slide-item-right .description {
    font-size: 12px;
}
.slick-slide-item-right .amount {
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 5px;
}
.slick-slide-item-right .button-ctr{}
.slick-slide-item-right button {
    background: #fff none repeat scroll 0 0;
    color: #ed1c24;
    border: none;
}
.ads-link{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ads-link a{}

.full-width-tabs > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a {
    text-align: center;
}

#diaLogModal .modal-dialog{
    margin-top: 10px;
    padding: 0;
}
#diaLogModal .modal-body {
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
#diaLogModal button.close {
    background: rgba(0, 0, 0, 0) url("../img/icon-close.png") no-repeat scroll center center;
    color: transparent;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    z-index: 10;
}
#diaLogAlertModal button.close {
    background: rgba(0, 0, 0, 0) url("../img/icon-close.png") no-repeat scroll center center;
    color: transparent;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 1px;
    width: 30px;
    z-index: 10;
}
#diaLogAlertModal .modal-content {
    background-color:  #000000;
}
#diaLogModal .modal-dialog .modal-top {
    background: #4667ab none repeat scroll 0 0;
    padding: 50px 50px 20px;
}
.modal-top .modal-left {
    background: #034ea2 none repeat scroll 0 0;
    padding: 10px;
}
.modal-top .modal-left .user-name{}
.modal-top .modal-left .user-avatar{}
.modal-top .modal-left .user-coin{
    margin-bottom: 5px;
    margin-top: 5px;
}
.modal{
    color: #000;
}
.modal-top{
    color: #fff;
}
.modal-top .modal-left .user-coin span {
    background: transparent url("../img/icon-coin.png") no-repeat scroll left center;
    font-size: 1.3em;
    padding-left: 25px;
}
.modal-top .modal-left .user-ctr {
    margin-top: 30px;
}
.modal-top .modal-left .user-ctr button {
    background: rgba(0, 0, 0, 0) url("../img/bg-gray-bt.png") repeat-x scroll 0 0;
    border-radius: 0;
    width: 100%;
}
.modal-top .modal-right{}
.modal-top .modal-right h3{}
.modal-top .modal-right ul {
    list-style: outside none none;
    padding-left: 0;
}
.modal-top .modal-right ul li {
    background: rgba(0, 0, 0, 0) url("../img/icon-sub.png") no-repeat scroll 0 10px;
    padding-bottom: 5px;
    padding-left: 35px;
}

.modal .modal-bottom{
    padding: 20px 40px;
    color: #000;
}

.add-coin{}
.add-coin .dropdown-toggle,
.add-coin .dropdown-toggle, .add-coin .dropdown {
    text-align: left;
    position: relative;
    width: 100%;
    border-radius: 0;
}
.add-coin .dropdown-toggle .caret {
    position: absolute;
    right: 10px;
    top: 15px;
}
.button-ctr-form{
    margin-top: 20px;
}
.add-coin .dropdown,
.add-coin .form-control{
    border-radius: 0;
}
.btn.btn-custom,
.button-ctr-form button{
    background: rgba(0, 0, 0, 0) url("../img/bg-gray-bt.png") repeat-x scroll 0 0;
    border-radius: 0;
    width: 100%;
}
.modal-bottom-right table{
    width: 100%;
    text-align: center;
}
.modal-bottom-right table tr:nth-child(2n+1) {
    background: #d1d3d4;
}
.modal-bottom-right table th {
    background: #939598 none repeat scroll 0 0;
    padding: 2px;
    text-align: center;
}
.modal-bottom-right table td{
    padding: 2px;
    text-align: center;
}
#diaLogAlertModal .btn.btn-custom{
    width: 100px;
}
#diaLogAlertModal .modal-bottom {
    padding: 10px;
    text-align: center;
}
.modal .modal-body{
    position: relative;
}
.modal .modal-body h2.modal-title {
    left: 0;
    position: absolute;
    text-align: center;
    top: -21px;
    width: 100%;
}
.modal .modal-body h2.modal-title span {
    background: #f6ec25 none repeat scroll 0 0;
    border-radius: 10px;
    color: #7e1418;
    padding: 5px 60px;
}
#diaLogAlertModal .modal-body-content h4 {
    margin-bottom: 5px;
}
#diaLogAlertModal .modal-body-content {
    
    padding-top: 20px;
}
#diaLogAlertModal .modal-body-content p{
    margin-bottom: 5px;

}
.hide {
    display: none;
}
.win-cornertext {
    border-radius: 15px;
    background: #3959A1;
    padding-top: 10px; 
    width: 400px;
    height: 50px; 
    text-align: center;
    color: white;
    margin-left: 80px;
    font-size: 22px;
    font-weight: bold;
}
.loose-cornertext {
    border-radius: 15px;
    background: #ed1c24;
    padding-top: 10px; 
    width: 400px;
    height: 50px; 
    text-align: center;
    color: white;
    margin-left: 80px;
    font-size: 22px;
    font-weight: bold;
}
#chooseGameType {
    text-align: center;
    vertical-align: middle;
    background-color: #000000;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.6;
    z-index: 100;
}
.txtWinText{
    text-align: center;
    font-size: 18px;
    margin-left: 40px;
}
.ui-dialog-titlebar {display:none}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0px solid #D3D3D3 !important;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .col-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .tab-wrapper .nav-tabs li a {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width : 767px){

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .tab-wrapper .nav-tabs li a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}